<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KlackTracks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <KlackTracks.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value>keylog.txt</value>
            </setting>
            <setting name="StartupKey" serializeAs="String">
                <value>SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Run</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>KlackTracks</value>
            </setting>
        </KlackTracks.Properties.Settings>
    </applicationSettings>
</configuration>
